body{
    background-color: #E6F7FF;
    color: #2C3E50;
    font-family: Verdana, sans-serif;
    margin: 1px;
}

header{
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 30px;
}

nav{
    background-color: #6FB1FC;
    text-align: center;
    padding: 22px;
}


nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
}

nav a:hover{
    color: yellow;
}

section{
    padding: 25px;
}

img{
    width: 220px;
    border-radius: 50%;
    border: 4px solid #4A90E2;
}

footer{
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 15px;
}